.welcome{
  background-color: white;
  border-radius:10px;
  box-shadow:0px 3px 0px 0px rgba(0,0,0,0.05);
  padding: 1em 3em;
  @include tablet{
    display: flex;

  }
  @include desktop;

.welcome__content {
  @include tablet {
    width: 180%;
  }
  .welcome__title {
    padding: 1em 0;
    font-size: 3em;
    text-align: center;
    position: relative;
    @include tablet{
      text-align: left;
      padding: 0.2em;
    }
  }

  .welcome__description {
    padding-bottom: 0.5em;
    font-size: 2em;
    font-weight: 100;
    text-align: center;
    line-height: 1.25em;
    @include tablet{
      display: flex;
      text-align: left;
    }
  }
}
  .welcome__actions{


    @include tablet{
      width: 100%;
    }

   .welcome__cta{
     background-color:$button-featured-color;
     color:white;
     font-weight:900;
     font-size:1.5em;
     cursor: pointer;
     &:hover {
       background-color: $button-hover-color;}

     @include tablet{
       display: flex;
       width: 100%;
       flex-direction: row-reverse;
       justify-content: space-between;
     }

   }
   .welcome__more{

     cursor: pointer;
     background-color:$main-background-color;
     font-weight:900;
     font-size:1.5em;
     @include tablet{
       display: flex;
       width: 100%;
       flex-direction: row-reverse;
       justify-content: space-between;
     }
   }

  }

}