//tło strony
$main-background-color: #eaeaea;
//kolor tekstu
$main-font-color:#444444;
//tło logo
$logo-background-color:#fc4887;
//niebieskie przyciski
$button-featured-color:#1691C3;

$button-hover-color: #16a9c3;